.password {
	font-size: 1.2rem; 
	color:#999; 
}
.password .ul-password { 
	padding: 0 1.06rem;
}
.password .ul-password li { 
	height: 4.9rem; 
	line-height: 4.9rem; 
	border-bottom: 1px solid #eaeaea;
}
.password .ul-password li input { 
	height: inherit; 
	width:100%;  
	border: 0; 
	color:#333;
}
.password input::-webkit-input-placeholder { 
	font-size: 1.2rem;
	color:#999; 
}
.password .ul-password li input::-moz-input-placeholder { 
	font-size: 1.2rem; 
	color:#999; 
}
.password li.hint { 
	border:0; 
	font-size: 1rem;
	height: 4rem; 
	line-height: 4rem;
}
.password .btn-get { 
	height: 3.7rem; 
	margin-top: .3rem;
	border-radius: 8px; 
	-webkit-border-radius:8px; 
	width: 100%; 
	border: 0; 
	color:#fff;
}
.password .dialog {
	text-align: center;
}
.dialog .iconfont {
	font-size: 2rem;
	margin-bottom: .6rem;
}