html{
    font-size:10px;
}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}

body {
 height: 100%;
}

.unselect-view {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    overflow: hidden;
}

.u-wrap{
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    flex: initial;
    /*width: 0;*/
   /*  -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;*/
    max-width: 100%;
    display: block;
     position: relative;
     box-flex-group:0;
     box-flex:0;
}

.g-flex{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.center{
    text-align: center;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration:none;
}

.basic-view{
    /*margin-top: 11.4rem;*/
    padding-top: 6.65rem;
    overflow-x: hidden;
    overflow-y: scroll;
    /* 增加该属性，可以增加弹性，是滑动更加顺畅 */
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    min-height: 48rem;
    /*background: #fff;*/
}

input{
    -webkit-appearance: none;
}

#scroller{
    margin-top: 6.6rem;
}


#back_btn {
    z-index: 1000001;
    position: absolute;
    left: 0;
    top: 0;
    height: 2.2rem;
    width: 2rem;
/*    background: url(../images/back_btn-44876e3d.png) no-repeat;*/
    background-size: 2rem 2.2rem;
    display: none;
}


.overflow-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute; }
  .overflow-scroll .scroll {
    position: static;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0); }


/*--------------------------------------  alert 组件 start   --------------------------------------*/
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0);
    left: 0;
    top: 0;
    z-index: 999;
}

/* loading */
.loading_box .loading_box_wrapper {
    width: 11rem;
    height: 3rem;
    border-radius: 0.5rem;
    background: rgba(22, 35, 47, 0.8);
}
.loading_box .loading_box_text {
    text-align: center;
    line-height: 3rem;
    padding-left: 1rem;
}

/* loading start */
.loading {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0.75rem;
    left: 1.5rem;
}
.loading div {
    position: absolute;
    background-color: white;
    width: 0.3rem;
    height: 0.3rem;
    top: 0px;
    left: 0.65rem;
    opacity: 0;
    display: inline-block;
    border-radius: 0.15rem;
    -webkit-transform-origin: 0.15rem 0.8rem;
    -ms-transform-origin: 0.15rem 0.8rem;
    transform-origin: 0.15rem 0.8rem;
}
@-webkit-keyframes loading-show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loading-show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.loading.animate div {
    -webkit-animation: loading-show 0.7s linear infinite normal;
    animation: loading-show 0.7s linear infinite normal;
}
.loading div:nth-child(1) {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0);
    transform: rotate(0deg) translateZ(0);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.loading div:nth-child(2) {
    -webkit-transform: rotate(45deg) translateZ(0);
    -ms-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
}
.loading div:nth-child(3) {
    -webkit-transform: rotate(90deg) translateZ(0);
    -ms-transform: rotate(90deg) translateZ(0);
    transform: rotate(90deg) translateZ(0);
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
}
.loading div:nth-child(4) {
    -webkit-transform: rotate(135deg) translateZ(0);
    -ms-transform: rotate(135deg) translateZ(0);
    transform: rotate(135deg) translateZ(0);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loading div:nth-child(5) {
    -webkit-transform: rotate(180deg) translateZ(0);
    -ms-transform: rotate(180deg) translateZ(0);
    transform: rotate(180deg) translateZ(0);
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.loading div:nth-child(6) {
    -webkit-transform: rotate(225deg) translateZ(0);
    -ms-transform: rotate(225deg) translateZ(0);
    transform: rotate(225deg) translateZ(0);
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.loading div:nth-child(7) {
    -webkit-transform: rotate(270deg) translateZ(0);
    -ms-transform: rotate(270deg) translateZ(0);
    transform: rotate(270deg) translateZ(0);
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.loading div:nth-child(8) {
    -webkit-transform: rotate(315deg) translateZ(0);
    -ms-transform: rotate(315deg) translateZ(0);
    transform: rotate(315deg) translateZ(0);
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

/* loading end */

/*APP UI 2.0 的标准边框线*/

/*---------css3 animation--------*/
.animation-shake{
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -ms-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}
/**************************************alert 组件****************************************/
/****************************************picker****************************************/
.picker-container .modal-overlay,
.picker-container .preloader-indicator-overlay,
.picker-container .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10600;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
}
.picker-container .modal-overlay.modal-overlay-visible,
.picker-container .preloader-indicator-overlay.modal-overlay-visible,
.picker-container .popup-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 1;
}
.picker-container .popup-overlay {
    z-index: 10200;
}
.picker-container .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11000;
    display: none;
    width: 13.5rem;
    margin-top: 0;
    margin-left: -6.75rem;
    color: #3d4145;
    text-align: center;
    border-radius: .35rem;
    opacity: 0;
    -webkit-transition-property: -webkit-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
}
.picker-container .modal.modal-in {
    opacity: 1;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
.picker-container .modal.modal-out {
    z-index: 10999;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(0.815);
    transform: translate3d(0, 0, 0) scale(0.815);
}
.picker-container .modal-inner {
    position: relative;
    padding: .75rem;
    background: #e8e8e8;
    border-radius: .35rem .35rem 0 0;
}
.picker-container .modal-inner:after {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #b5b5b5;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .modal-inner:after {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .modal-inner:after {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .modal-title {
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
}
.picker-container .modal-title + .modal-text {
    margin-top: .25rem;
}
.picker-container .modal-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 2.2rem;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.picker-container .picker-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11500;
    display: none;
    width: 100%;
    height: 13rem;
    background: #fff;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.picker-container .picker-modal.modal-in,
.picker-container .picker-modal.modal-out {
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
.picker-container .picker-modal.modal-in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.picker-container .picker-modal.modal-out {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.picker-container .picker-modal .picker-modal-inner {
    position: relative;
    height: 100%;
}
.picker-container .picker-modal .toolbar {
    position: relative;
    width: 100%;
}
.picker-container .picker-modal .toolbar:before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #999;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .picker-modal .toolbar:before {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .picker-modal .toolbar:before {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .picker-modal .toolbar + .picker-modal-inner {
    height: -webkit-calc(97.8%);
    height: calc(97.8%);
}
.picker-container .picker-modal.picker-modal-inline,
.picker-container .popover .picker-modal {
    position: relative;
    z-index: inherit;
    display: block;
    background: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.picker-container .picker-modal.picker-modal-inline .toolbar:before,
.picker-container .popover .picker-modal .toolbar:before {
    display: none;
}
.picker-container .picker-modal.picker-modal-inline .toolbar:after,
.picker-container .popover .picker-modal .toolbar:after {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #999;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .picker-modal.picker-modal-inline .toolbar:after,
    .picker-container .popover .picker-modal .toolbar:after {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .picker-modal.picker-modal-inline .toolbar:after,
    .picker-container .popover .picker-modal .toolbar:after {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .popover .picker-modal {
    width: auto;
}
.picker-container .popover .picker-modal .toolbar {
    background: none;
}
.picker-container .picker-columns {
    z-index: 11500;
    width: 100%;
    height: 14rem;
}
.picker-container .picker-columns.picker-modal-inline,
.picker-container .popover .picker-columns {
    height: 10rem;
}
@media (orientation: landscape) and (max-height: 415px) {
    .picker-container .picker-columns:not(.picker-modal-inline) {
        height: 10rem;
    }
}
.picker-container .popover.popover-picker-columns {
    width: 14rem;
}
.picker-container .picker-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    font-size: 1.2rem;

    text-align: right;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #ffffff 20%, #ffffff 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, #ffffff 20%, #ffffff 80%, transparent 95%, transparent);
}
.picker-container .bar + .picker-items {
    height: 10.8rem;
}
.picker-container .picker-items-col {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    z-index: 1;
}
.picker-container .picker-items-col.picker-items-col-left {
    text-align: left;
}
.picker-container .picker-items-col.picker-items-col-center {
    text-align: center;
    width: 100%;
}
.picker-container .picker-items-col.picker-items-col-right {
    text-align: right;
}
.picker-container .picker-items-col.picker-items-col-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #3d4145;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.picker-container .picker-items-col-wrapper {
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.picker-container .picker-item {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 1.8rem;*/
    height: 2.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.5rem;
    overflow: hidden;
    /*line-height: 1.8rem;*/
    line-height: 2.2rem;
    font-size:0.65rem;
    color:#9dacb6;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.picker-container .picker-items-col-absolute .picker-item {
    position: absolute;
}
.picker-container .picker-item.picker-item-far {
    pointer-events: none;
}
.picker-container .picker-item.picker-selected {
    color: #13334d;
    font-size: 0.75rem;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: rotateX(0deg);
    transform: translate3d(0, 0, 0);
    transform: rotateX(0deg);
}
.picker-container .picker-center-highlight {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*margin-top: -18px;*/
    margin-top: -1.15rem;
    pointer-events: none;
    z-index: 2;
}
.picker-container .picker-center-highlight:before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #9dacb6;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .picker-center-highlight:before {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .picker-center-highlight:before {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .picker-center-highlight:after {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 1px;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #a8abb0;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .picker-center-highlight:after {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .picker-center-highlight:after {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .picker-3d .picker-items {
    overflow: hidden;
    -webkit-perspective: 60rem;
    perspective: 60rem;
}
.picker-container .picker-3d .picker-items-col,
.picker-container .picker-3d .picker-items-col-wrapper,
.picker-container .picker-3d .picker-item {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.picker-container .picker-3d .picker-items-col {
    overflow: visible;
}
.picker-container .picker-3d .picker-item {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform-origin: center center -5.5rem;
    -ms-transform-origin: center center -5.5rem;
    -o-transform-origin: center center -5.5rem;
    transform-origin: center center -5.5rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.picker-container .picker-modal .bar {
    position: relative;
    top: 0;
}
.picker-container .picker-modal .bar:before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #a8abb0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .picker-modal .bar:before {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .picker-modal .bar:before {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .picker-modal .bar:after {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #9dacb6;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .picker-modal .bar:after {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .picker-modal .bar:after {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .picker-modal .bar .title {
    font-weight: normal;
    color: #5f646e;
}
.picker-container .bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 2rem;
    background-color: #f7f7f8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.picker-container .bar:after {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .bar:after {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .bar:after {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container .bar-header-secondary {
    top: 2.2rem;
}
.picker-container .bar-nav {
    top: 0;
}
.picker-container .title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -0.5rem;
    font-size: .85rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: #3d4145;
    text-align: center;
    white-space: nowrap;
    top: 0;
}
.picker-container .title a {
    color: inherit;
}
.picker-container .bar-tab {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    table-layout: fixed;
}
.picker-container .bar-tab:before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .picker-container .bar-tab:before {
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .picker-container .bar-tab:before {
        -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
        -o-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.picker-container button {
    position: relative;
    display: block;
    height: 1.35rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 .5rem;
    margin: 0;
    font-family: inherit;
    font-size: .9rem;
    line-height: 1.25rem;
    color: #0894ec;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    border: 1px solid #0894ec;
    border-radius: .25rem;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}
.picker-container .bar .button {
    position: relative;
    z-index: 20;
    margin-top: 0;
    font-size: 0.7rem;
    line-height: 2rem;
    color: #55acee;

}
.picker-container .bar .pull-left{
    margin-left: 0.75rem;
    float: left;
    height: 2rem;
    padding: 0;
}

.picker-container .bar .button.pull-right {
    margin-right: 0.75rem;
    float: right;
    height: 2rem;
    padding: 0;
}
.picker-container .bar .button-link:active,
.picker-container .bar .button-link.active {
    color: #0675bb;
}
.picker-container .bar .button-block {
    top: .35rem;
    width: 100%;
    font-size: .8rem;
}
.picker-container .infinite-scroll-preloader {
    margin: .5rem;
    text-align: center;
}
.picker-container .infinite-scroll-preloader .preloader {
    width: 1.5rem;
    height: 1.5rem;
}
.picker-container .preloader {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s steps(12, end) infinite;
    -o-animation: preloader-spin 1s steps(12, end) infinite;
    animation: preloader-spin 1s steps(12, end) infinite;
}
.picker-container .preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}
@-webkit-keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-o-keyframes preloader-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/****************************************picker****************************************/

.pageContainer{
	margin: 0 auto;
}

.hidden{
    display: none;
}

.clear-both{
	clear:both
}

input{
	outline: none;
}




.otp-box{
    margin: 0 1.5rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
}

.otp-box .label{
    float: left;
    z_index:999;
    color: #787878;
    font-size: 1.4rem;
}
.otp-box input{
    z_index:1;
    padding: 0px 1.5rem 0px 1.5rem;
    border:0px;
    font-size: 1.6rem;
    height: 4.4rem;
    float: left;
    width: 13rem;
    -webkit-appearance: none;
    background: transparent;

}

.otp-box .button{
    float: right;
    width: 9rem;
    height: 3.2rem;
    background-color: #1680fa;
    text-align: center;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #fff;
    -moz-border-radius: 0.25rem;      /* Gecko browsers */
    -webkit-border-radius: 0.25rem;   /* Webkit browsers */
    border-radius:0.25rem;            /* W3C syntax */
    margin-top: 0.6rem;
}

.otp-box .disable {
  color: #1daafb;
}

.radio-box{
    margin-left: 1.5rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
}

.radio-box .label{
    float: left;
    z_index:999;
}

.radio-box .selection{
    float: right;

}

.radio-box .selection .selection-button{
    float: left;
    margin-right: 1.5rem;
    color: #b7b7b7;
}

.radio-box .selection .selection-text{
    float: left;
    margin-right: 1.5rem;
    color: #b7b7b7;
}
.selection-button i{
    font-size: 1.5rem;
}

.radio-box input{
    z_index:1;
    padding: 0px 1.5rem 0px 1.5rem;
    border:0px;
    font-size: 1.6rem;
    height: 4.4rem;
    float: left;
    box-sizing:border-box;
        display: block;
        margin-right: 1.5rem;
    /*width: 400px; */
}

.room-box{
    margin-left: 1.5rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
}

.room-box .label{
    float: left;
    z_index:999;
}
.room-box .group-input{
    float: right;
    padding-right: 3rem;
}
.room-box input{
    z_index:1;
    border:0px;
    font-size: 1.6rem;
    height: 4.4rem;
    float: left;
    box-sizing:border-box;
        display: block;
        /*margin-right: 1.5rem;*/
    width: 3.5rem;
    text-align: center;
}
.room-box span{
    /*z_index:1;*/
    border:0px;
    font-size: 1.6rem;
    height: 4.4rem;
    float: left;
    box-sizing:border-box;
        display: block;
}


.select-box{
    margin-left: 1.5rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
}

.select-box .label{
    float: left;
    z_index:999;
}
.select-box .select{
    float: right;
    text-align: right;
    z_index:1;
    border:0px;
    font-size: 1.6rem;
    height: 4.4rem;
    box-sizing:border-box;
    display: block;
    margin-right: 3rem;
}

.select-box select{
/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border:none;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: #fff no-repeat scroll right center transparent;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.select-box select {
    direction: rtl;
    background: #fff;
}
.select-box select option {
    direction: ltr;
    background-color: #fff;
}

.think-input-box{
    /*margin-left: 1.5rem;*/
    /*height: 4.4rem;*/
    line-height: 4.4rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
    text-align: right;
}

.think-input-box .think-input-group{
    margin-left: 1.5rem;
}

.think-input-box .search-box{
    /*width: 100%;*/
    /*height: 300px;*/
    background-color:#efeff4;
    text-align: right;

}

.think-input-box .search-box-item{
    line-height: 4.4rem;
    font-size: 1.6rem;
    padding-right: 3rem;
}

.think-input-box .search-box-item-line{
    border-bottom:1px solid #e2e2e2;
    margin-left: 1.5rem;
}

.search-box-item-key{
    color:#007aff;
}

.think-input-box .label{
    float: left;
    z_index:999;
}
.think-input-box input{
    z_index:1;
    padding: 0px 1.5rem 0px 1.5rem;
    border:0px;
    font-size: 1.6rem;
    height: 4.4rem;
    float: left;
    box-sizing:border-box;
        display: block;
        /*margin-right: 1.5rem;*/
    /*width: 400px; */
}

.button-box{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	height: 4.4rem;
	background-color: #1680fa;
	-moz-border-radius: 0.25rem;      /* Gecko browsers */
    -webkit-border-radius: 0.25rem;   /* Webkit browsers */
    border-radius:0.25rem;            /* W3C syntax */
}
.button-box .text{
	width: 100%;
	line-height: 4.4rem;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
}

.button-box .disable{
	color: #1daafb;
}

.link-box{
	color: #566b96;
	font-size: 1.6rem;
	text-align: right;
    padding: 0 2rem;
}

.tips-bar{
    color: #787878;
    font-size: 1.4rem;
    padding: 0px 1.5rem 0px 1.5rem;
    line-height: 1.5rem;

}



/*.header-box .u-full .bar-activate{
    border-bottom:1px solid #1680fa;
    color: #1680fa;
}*/

.form-box{
    background-color: #fff;
    margin-top: 1.6rem;
}


/*图表类插件*/

.pie-chart-box{
    position:relative;
}
.pie-chart-box canvas{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.pie-chart-box .text{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    color: #787878;
}
.pie-chart-box .label{
    text-align: center;
    font-size: 2rem;
    color: #323232;
    position:absolute;
    top:43%;
    width: 100%;
}
.pie-chart-box .label .tips{
    font-size: 1rem;
    line-height: 1rem;
}



.line-chart-box .chart-box{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.line-chart-box canvas{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /*margin-left: 1.5rem;
    margin-right: 1.5rem;*/
}
.line-chart-box .text{
    padding-left: 1.5rem;
    font-size: 1.6rem;
    color: #787878;
    margin-top: 1.5rem;
}



.avatar-upload{
    margin-left: 1.5rem;
    height: 7.75rem;
    line-height: 7.75rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
    /*padding-top: 0.5rem;*/
    padding-right: 1.5rem;
}

.avatar-upload .label{
    float: left;
    z_index:999;
    color: #787878;
    font-size: 1.4rem;
}
.avatar-upload  .avatar-image{
    -moz-border-radius: 5rem;      /* Gecko browsers */
    -webkit-border-radius: 5rem;   /* Webkit browsers */
    border-radius:5rem;            /* W3C syntax */
    margin-top: 0.5rem;
    border: 1px solid #DBDBDB;
}
.avatar-upload .right{
    float: right;
    font-size: 1.2rem;
}



.employee-input-record-box{
    height: 14rem;
    background: #fff;

}

.employee-input-record-box .text{
    color: #787878;
    font-size: 1.4rem;
    line-height: 1.4rem;
     height: 1.4rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}
.employee-input-record-box .detail{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.employee-input-record-box .left{
    float: left;
    width: 49%;
}
.employee-input-record-box .right{
    float: right;
    width: 49%;
}
.employee-input-record-box .pie {
     width:8rem; height:8rem;
     /*background-color:#2fc79a;*/
     border-radius:5rem;
     /*position:absolute;*/

    -moz-border-radius: 5rem;      /* Gecko browsers */
    -webkit-border-radius: 5rem;   /* Webkit browsers */
    border-radius:5rem;            /* W3C syntax */
    text-align: center;
    margin: 0 auto;
}
.employee-input-record-box .pie-left{
    border: 1px #2fc79a solid;
    color: #2fc79a;
}
.employee-input-record-box .pie-right{
    border: 1px #1680fa solid;
    color: #1680fa;
}
.employee-input-record-box .pie-label{
     font-size: 2rem;
     line-height: 2rem;
     height: 2rem;
     margin-top: 2rem;
}
.employee-input-record-box .pie-text{
     color: #787878;
     font-size: 1rem;
     line-height: 1rem;
     height: 1rem;
     margin-top: 0.75rem;
}


.employee-input-list-item-box{
    height: 10.5rem;
    margin-left: 1.5rem;
    border-bottom:1px solid #e2e2e2;
}
.employee-input-list-item-box .top{
    width: 2rem;
    margin-right: 1.5rem;
}
.employee-input-list-item-box .left{
    margin-top: 1.5rem;
}
.employee-input-list-item-box .right{
    line-height: 10.5rem;
    padding-right: 1.5rem;
    font-size: 1.4rem;
}
.employee-input-list-item-box .others{
    margin-top: 1.25rem;
}
.employee-input-list-item-box .basic-small-icon{
    float: left;
}
.employee-input-list-item-box .label{
    color: #787878;
    float: left;
    font-size: 1.4rem;
     height: 1.4rem;
    line-height: 1.4rem;
}


.rank-list-item-box{
    height: 10rem;
    margin-left: 1.5rem;
    border-bottom: 1px solid #e2e2e2;
}
.rank-list-item-box .top{
    padding-top: 1.2rem;
    padding-right: 1.5rem;
    font-size: 1.6rem;
    color: #c8c8c8;
}

.rank-list-item-box .top-highlight{
    color: #f55365;
}

.rank-list-item-box .left{
    margin-top: 1.5rem;
}
.rank-list-item-box .right{
    line-height: 10rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    color: #323232;
}
.rank-list-item-box .others{
    margin-top: 1rem;
}
.rank-list-item-box .xingMing, .report-employee-list-item-box .xingMing, .employee-input-list-item-box .xingMing {
    width: 100%;
    font-size: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rank-list-item-box .basic-small-icon{
    float: left;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}
.rank-list-item-box .label{
    color: #323232;
    float: left;
    font-size: 1.2rem;
     height: 1.4rem;
    line-height: 1.4rem;
}

.rank-list-item-box .left-label{
    width: 11.5rem;
}

.report-employee-list-item-box{
    height: 7.5rem;
    margin-left: 1.5rem;
    border-bottom:1px solid #e2e2e2;
}
.report-employee-list-item-box .top{
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
    color: #c8c8c8;
}

.report-employee-list-item-box .top-highlight{
    color: #f55365;
}

.report-employee-list-item-box .left{
    margin-top: 1.5rem;
}
.report-employee-list-item-box .right{
    line-height: 7.5rem;
    padding-right: 1.5rem;
    font-size: 1.4rem;
}
.report-employee-list-item-box .others{
    margin-top: 1rem;
}
.report-employee-list-item-box .basic-small-icon{
    float: left;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}
.report-employee-list-item-box .label{
    color: #787878;
    float: left;
    font-size: 1.2rem;
     height: 1.4rem;
    line-height: 1.4rem;
}

.report-employee-list-item-box .left-label{
    width: 11.5rem;
}

.list-title-bar{
    height: 3.6rem;
    line-height: 3.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.6rem;
    color: #7d7d7d;
}
.list-title-bar .left{
    float: left;
}
.list-title-bar .right{
    float: right;
    color: #1680fa;
    font-size: 1.05rem;
}

#scroller.scroll_box{
    margin-top: 7.4rem;
    background-color: #fff;
    /*padding-bottom: 1.5rem;*/
}

#fix-button{
    z-index: 999;
    position: fixed;
    bottom: 3.9rem;
    right: 1.5rem;
    cursor: pointer;
}
#fix-button img{
    opacity: 0.75;
    cursor: pointer;
}


.group-input-record-box{

}
.group-input-record-box .item{
    float: left;
    text-align: center;
    height: 8.3rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #787878;
    border-bottom:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group-input-record-box .item .label{
    margin-top: 2.5rem;
}
.group-input-record-box .item .value{
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin-top: 1.2rem;
}
.group-input-record-box .col1{
    width: 100%;
}

.group-input-record-box .col2{
    width: 50%;
}
.group-input-record-box .input-member-amount{
    height: 10.8rem;
}

.group-input-record-box .input-member-amount .label{
    margin-top: 3rem;
}
.group-input-record-box .input-member-amount .value{
    margin-top: 1.5rem;
    color: #21c393;
    font-size: 2.8rem;
    line-height: 2.8rem;
}

.group-input-record-box .uninput-member-amount .value{
    color: #ce80dc;
}
.group-input-record-box .input-member-rate .value{
    color: #fea065;
}
.group-input-record-box .input-community-amount .value{
    color: #608fea;
}
.group-input-record-box .employee-count .value{
    color: #35bcf8;
}

.info-tips-bar{
    padding: 0 1.5rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 1px;
    background-color: #fff;
    color: #787878;
}

.info-tips-bar .label{
    float: left;
    z_index:999;
}
.info-tips-bar .count{
    text-align: right;
    padding: 0 1.5rem;
}
.info-tips-bar .count .count-span{
    float: right;
    padding: 0 0.6rem;
    margin-top: 1.4rem;
    text-align: center;
    height: 1.8rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #fff;
    background-color:#ff4657;
    -moz-border-radius: 5rem;      /* Gecko browsers */
    -webkit-border-radius: 5rem;   /* Webkit browsers */
    border-radius:5rem;            /* W3C syntax */
}

.tab-box{
    text-align: center;
    height: 6rem;
    padding-top: 1.5rem;
}

.tab-box .tab-container-box{
    margin: 0 auto;
    width: 15.75rem;
}

.tab-box .tab-container-box .tab-item-box{
    float: left;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    background-color: #fff;
    color: #21c393;
    border: 0.1rem solid #21c393;
}



.tab-box .tab-container-box .tab-item-box:first-child{
    -moz-border-radius: 0.5rem 0px 0px 0.5rem;      /* Gecko browsers */
    -webkit-border-radius: 0.5rem 0px 0px 0.5rem;   /* Webkit browsers */
    border-radius:0.5rem 0px 0px 0.5rem;            /* W3C syntax */
}

.tab-box .tab-container-box .tab-item-box:last-child{
    -moz-border-radius: 0rem 0.5rem 0.5rem 0rem;      /* Gecko browsers */
    -webkit-border-radius: 0rem 0.5rem 0.5rem 0rem;   /* Webkit browsers */
    border-radius:0rem 0.5rem 0.5rem 0rem;            /* W3C syntax */
}

.tab-box .tab-container-box .tab-item-box[selected]{
    background-color: #21c393;
    color: #fff;
}

.community-input-tab-box .tab-container-box .tab-item-box{
    background-color: #fff;
    color: #608fea;
    border: 0.1rem solid #608fea;
}

.community-input-tab-box .tab-container-box .tab-item-box[selected]{
    background-color: #fff;
    color: #608fea;
}

.community-input-tab-box .tab-container-box .tab-item-box[selected]{
    background-color: #608fea;
    color: #fff;
}


.pop-view{
    width: 100%;
    height: 100%;
    position: absolute;
    /*position: fixed;*/
    background: #fff;
    left: 0;
    top: 0;
    z-index: 5000;
}

.error-view{
    margin-top: 25rem;
    color: #8c8c8c;
}

.error-view .text{
    font-size: 1.4rem;
    margin-top: 1rem;
}

.error-view .high-light{
    color: #1680fa;
}

.page-end{
    height: 3rem;
    background-color: #efeff4;
    text-align: center;
    font-size: 1.2rem;
    color: #8c8c8c;
    line-height: 3rem;
}

/*移除HTML5 input在type="number"时的上下小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
