@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1472692169_24985.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1472692169_24985.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1472692169_24985.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1472692169_24985.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1472692169_24985.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianpingdianhua:before { content: "\e60f"; }
.icon-dianpingxiangji1:before { content: "\e610"; }
.icon-dianpingtoux:before { content: "\e613"; }
.icon-dianpingleftarrow:before { content: "\e60c"; }
.icon-iconxin:before { content: "\e600"; }
.icon-icon2:before { content: "\e601"; }
.icon-iconbi:before { content: "\e602"; }
.icon-iconxiaoxi:before { content: "\e603"; }
.icon-iconbianji:before { content: "\e604"; }
.icon-iconmap:before { content: "\e605"; }
.icon-icon:before { content: "\e606"; }
.icon-iconzan1:before { content: "\e607"; }
.icon-iconzan:before { content: "\e608"; }
.icon-iconjiangtou:before { content: "\e609"; }
.icon-icontel:before { content: "\e60a"; }
.icon-iconcolse:before { content: "\e60b"; }
.icon-dianpingdel2:before { content: "\e60d"; }
.icon-dianpingwo:before { content: "\e60e"; }
.icon-dianpingquang:before { content: "\e611"; }
.icon-dianpingqingdan:before { content: "\e612"; }
.icon-dianpingcdi:before { content: "\e614"; }
.icon-dianpingdanwei:before { content: "\e615"; }
.icon-dianpingdengji:before { content: "\e616"; }
.icon-dianpingfenqi:before { content: "\e617"; }
.icon-dianpingfuzhu:before { content: "\e618"; }
.icon-dianpingguwen:before { content: "\e619"; }
.icon-dianpinglvse:before { content: "\e61a"; }
.icon-dianpingpeifu:before { content: "\e61b"; }
.icon-dianpingsanbei:before { content: "\e61c"; }
.icon-dianpingshihua:before { content: "\e61d"; }
.icon-dianpingsonghuo:before { content: "\e61e"; }
.icon-dianpingxhao:before { content: "\e620"; }
.icon-dianpingzixun:before { content: "\e622"; }
.icon-dianpingjicai:before { content: "\e623"; }
.icon-dianpingpinpai:before { content: "\e624"; }
.icon-dianpingcdi:before { content: "\e614"; }
.icon-dianpingdengji:before { content: "\e616"; }
.icon-dianpingdanwei:before { content: "\e615"; }
.icon-dianpingfuzhu:before { content: "\e618"; }
.icon-dianpingxhao:before { content: "\e620"; }
.icon-dianpingshihua:before { content: "\e61d"; }
.icon-dianpingsanbei:before { content: "\e61c"; }
.icon-dianpingpeifu:before { content: "\e61b"; }
.icon-dianpingtuihuo:before { content: "\e61f"; }
.icon-dianpingzhiliang:before { content: "\e621"; }
.icon-dianpingfenqi:before { content: "\e617"; }
.icon-dianpingsonghuo:before { content: "\e61e"; }
.icon-dianpingzixun:before { content: "\e622"; }
.icon-dianpingguwen:before { content: "\e619"; }

