.password-box .iconfont {
    font-size: 2rem;
}

.password-box .icon-dianpingpsw {
    color: #0091ea;
}

.password-box .icon-dianpingpswn {
    color: #e1e1e1;
}

.password-box .icon-dianpingpsw:before,
.password-box .icon-dianpingpswn:before {
    margin-left: 1rem;
}