.guide-live {
    .fl { float: left;}
    .fr { float: right;}
    background:#fff;
    margin-top: pxToRem(10);
    .header{
        .history{
            color:#666;
            font-size:pxToRem(24);
        }
    }
    .article{
        height:pxToRem(300);
        overflow: hidden;
        padding: pxToRem(10) pxToRem(10) pxToRem(48) pxToRem(10);
        text-align:center;
        position:relative;
        .article-bg{
            img{
                width:100%;
            }
            position: absolute;
            overflow: hidden;
            width:100%;
        }
        .article-con{
            position: absolute;
            width: 100%;
            .living{
                position:absolute;
                width:pxToRem(90);
                height:pxToRem(40);
                left:pxToRem(20);
                top:pxToRem(20);
                line-height: pxToRem(40);
                text-align: center;
                border-radius: pxToRem(4);
                background-color: #439df7;
                color: #fff;
            }
            .live-title{
                font-size:pxToRem(36);
                color:#fff;
                padding-top:pxToRem(96);
            }
            .live-time{
                font-size:pxToRem(20);
                color:#fff;
                padding:pxToRem(24) 0;
            }
            .live-person{
                width:pxToRem(300);
                height:pxToRem(72);
                border-radius:pxToRem(60);
                background:#000;
                opacity:0.8;
                margin:0 auto;
                .person-img{
                    width:pxToRem(60);
                    height:pxToRem(60);
                    border-radius: pxToRem(60);
                    margin:pxToRem(7) pxToRem(14);
                    overflow:hidden;
                    img{
                        width:100%
                    }
                }
                .person-name{
                    font-size:pxToRem(24);
                    color:#fff;
                    vertical-align: top;
                    margin-top:pxToRem(18);
                }
            }
        }

    }
}
