.ui-alert-fund591-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(53, 64, 74, .85);
    left: 0;
    top: 0;
    z-index: 5000;
}
.ui-alert-fund591 {
    position: absolute;
    /* left: 50%; */
    top: 50%;
    z-index: 5001;
    width: 100%;
}
.ui-alert-fund591-wrapper {
    /* margin-left: -44%; */
    /* margin-top: -30%; */
    /* width: 88%; */
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(53, 64, 74, .5);
    /* margin: 0px 1.5rem; */
    margin: 0px 3rem;
}
.ui-alert-fund591-body {
    /* padding: 15px 0.5rem; */
    padding: 1.5rem 1rem;
    /* font-size: 14px; */
    font-size: 1.4rem;
    color: #333333;
    text-align: center;
}
.border-gray-t {
    -moz-border-image: url(../img/border/border-gray.png) 2 2 2 2 repeat;
    -webkit-border-image: url(../img/border/border-gray.png) 2 2 2 2 repeat;
    border-width: 0;
    border-top-width: 1px;
}
.ui-alert-fund591-foot {
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.8rem;
    color: #55acee;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    border-top: 1px solid #D9D9D9;
}
.ui-alert-fund591-foot .button {
    -webkit-box-flex: 1;
    width: 50%;
    display: block;
    margin-left: -1px;
}
.border-gray-l {
    -moz-border-image: url(../img/border/border-gray.png) 2 2 2 2 repeat;
    -webkit-border-image: url(../img/border/border-gray.png) 2 2 2 2 repeat;
    border-width: 0;
    border-left-width: 1px;
}
.ui-alert-fund591-foot .button {
    -webkit-box-flex: 1;
    width: 50%;
    display: block;
    margin-left: -1px;
}
.ui-alert-fund591-foot .button {
    font-size: 1.4rem;
}
/* ui-alert-fund591 start */
.ui-alert-fund591-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(53, 64, 74, .85);
    left: 0;
    top: 0;
    z-index: 5000;
}
.ui-alert-fund591-mask-toast,
.ui-alert-fund591-mask-loading{
    background-color: rgba(0,0,0,0);
    z-index: 6000;
}
.ui-alert-fund591 {
    position: absolute;
    /*left: 50%;*/
    top: 50%;
    z-index: 5001;
    width: 100%;
}
.ui-alert-fund591 .loading-container{
    text-align: center;
}
.ui-alert-fund591-toast,
.ui-alert-fund591-loading{
    position: fixed;
    z-index: 6001;

}
.ui-alert-fund591-toast .ui-alert-fund591-wrapper,
.ui-alert-fund591-loading .ui-alert-fund591-wrapper{
    background: #333333;
    margin: 0px;
    /*width: 240px;*/
    width: 24rem;
    opacity: 0.75;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: opacity;
}
.ui-alert-fund591-loading .ui-alert-fund591-wrapper{
    /*width: 11rem;*/
    width: 22rem;
    padding: 0.5rem 0px;
}
.ui-alert-fund591-loading .ui-alert-fund591-wrapper2{
    /*width: 11rem;*/
    width: 22rem;
    padding: 1rem 0px;
}
.ui-alert-fund591-loading .ui-alert-fund591-wrapper2 .loading_box_text{
    display: block;
    margin: 0;
}
.ui-alert-fund591-loading .ui-alert-fund591-wrapper2 .ui-alert-fund591-body{
    padding: 0px;
    min-height: auto;
}
.ui-alert-fund591-loading .loading{
    /*left: 73px;*/

    left: 0px;
    position: relative;
    display: inline-block;
    top: 0px;
    vertical-align: middle;
}
.ui-alert-fund591-toast .ui-alert-fund591-wrapper.in,
.ui-alert-fund591-loading .ui-alert-fund591-wrapper.in{
    opacity: 0.75;
}
.ui-alert-fund591-toast .ui-alert-fund591-wrapper.show,
.ui-alert-fund591-loading .ui-alert-fund591-wrapper.show{
    opacity: 1;
    -webkit-transition-property: none;
}
.ui-alert-fund591-toast .ui-alert-fund591-foot,
.ui-alert-fund591-toast .ui-alert-fund591-head,
.ui-alert-fund591-loading .ui-alert-fund591-foot,
.ui-alert-fund591-loading .ui-alert-fund591-head{
    display: none;
}
.ui-alert-fund591-toast .ui-alert-fund591-body,
.ui-alert-fund591-loading .ui-alert-fund591-body{
    /*font-size: 14px;*/
    font-size: 1.4rem;
    color: #ffffff;
    /*padding: 15px;*/
    padding:1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    min-height: auto;
}
.ui-alert-fund591-loading .ui-alert-fund591-body{
    /*min-height: 1.6rem;*/
    min-height: 3.2rem;
    /*padding: 0.5rem;*/
    padding: 1rem;
}
.ui-alert-fund591-loading .loading_box_text{
    /*margin-top: 43px;
    line-height: 1.5;*/

    display: inline-block;
    /*line-height: 1.6rem;*/
    line-height: 3.2rem;
    vertical-align: middle;
    /*margin-left: 6px;*/
    margin-left: 0.6rem;
}
.ui-alert-fund591-wrapper {
    /*margin-left: -44%;*/
    /*margin-top: -30%;*/
    /*width: 88%;*/
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(53, 64, 74, .5);
    /*margin: 0px 1.5rem;*/
    margin: 0px 3rem;
}
.ui-alert-fund591-head {
    /*height: 50px;*/
    height: 5rem;
    text-align: center;
    color: #13334d;
    /*font-size: 18px;*/
    font-size: 1.8rem;
    /*line-height: 50px;*/
    line-height: 5rem;
}
.ui-alert-fund591 .css-input-border {
    /*height: 2.2rem;*/
    height: 4.4rem;
    border: #cccccc 1px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
}
.ui-alert-fund591 .css-input {
    /*height: 2.2rem;*/
    height: 4.4rem;
    /*font-size: 16px;*/
    font-size: 1.6rem;
    color: #333333;
    /*border: #cccccc 1px solid;*/
    border: 0 none;
    background: transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-indent: 0.3em;
}
.ui-alert-fund591-close-btn.lufaxfont {
    /*font-size: 15px;*/
    font-size: 1.5rem;
    color: #9dacb6;
    /*margin-left: 15px;*/
    margin-left: 1.5rem;
    position: absolute;
    padding: 0px;
}
.ui-alert-fund591-title {
    text-align: center;
}
.ui-alert-fund591-body {
    /*padding: 15px 0.5rem;*/
    padding: 1.5rem 1rem;
    /*font-size: 14px;*/
    font-size: 1.4rem;
    color: #333333;
    text-align: center;
}
.ui-alert-fund591-body .plain-text{
    /*padding: 0.5rem 0px;*/
    padding: 1rem 0;
}
.ui-alert-fund591 .input-hint {
    /*font-size: 0.5rem;*/
    font-size: 1.2rem;
    color: #9dacb6;
    padding: 1rem 0px;
}
.ui-alert-fund591-foot {
    /*height: 2.2rem;
    line-height: 2.2rem;
    font-size: 18px;*/
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.8rem;
    color: #55acee;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    border-top: 1px solid #D9D9D9;
}
.ui-alert-fund591-foot .button{
    -webkit-box-flex: 1;
    width: 50%;
    display: block;
    margin-left: -1px;
}

/* ui-alert-fund591 end*/
