.mall-home {
  background-color: #e4e4e4;
  .header {
    font-size: pxToRem(32);
    line-height: pxToRem(48);
    padding: pxToRem(30) pxToRem(16);
    color: #444444;
    //font-weight: bold;
  }
}

