.shop-album {
  background-color: #fff;
  .album {
    .article {
      padding: 0 pxToRem(16) pxToRem(36);
      font-size: 0;
      .img {
        display: inline-block;
        width: calc(50% - 0.5rem);
        margin-right: 1rem;
        img {
          width: 100%;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    a.more {
      display: block;
      margin-left: pxToRem(16);
      padding: pxToRem(30) 0;
      color: #439df7;
      text-align: center;
      text-indent: pxToRem(-16);;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
    }
  }
}

